* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: rgb(39, 39, 43);
}

h1 {
    text-align: center;
    color: #f58442;
    font-size: 50px;
}

.recipe a:link,
.recipe a:visited,
.recipe a:hover,
.recipe a:active {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    display: block;
    color:#f58442;
}

.container {
    max-width: 1300px;
    margin: 30px auto 0 auto;
    padding: 50px 100px;
    background: hsl(240, 5%, 15%);
    border: 1px solid hsl(240, 10%, 10%);
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
}

.recipe {
    display: inline-block;
    margin: 0 40px;
}

